html {
  overflow: hidden !important;
}
.v-main {
  height: 100vh;
}
.chat-navigation .v-navigation-drawer__content {
  display: flex;
  flex-direction: column;

  .v-list {
    overflow: auto;
  }
}

.main-content-wrapper {
  height: 100%;
  overflow: auto;
}
$bg-color: purple;
