@import '~vuetify/src/styles/styles.sass';
$primaryColor: map-get($deep-purple, accent-2);

html {
  overflow: hidden !important;
}
* {
  // &::-webkit-scrollbar {
  //   display: none;
  // }
}
a {
  text-decoration: none;
  color: inherit !important;
  &.hover:hover {
    color: $primaryColor !important;
  }
}

.d-invisible {
  visibility: hidden;
}

.v-main {
  height: 100vh;
}
.chat-navigation .v-navigation-drawer__content {
  display: flex;
  flex-direction: column;

  .v-list {
    overflow: auto;
  }
}

.main-content-wrapper {
  height: 100%;
  overflow: auto;
}

.disable-events {
  pointer-events: none;
}

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  transition: 0.2s linear left;
  /* maybe other vendor-prefixed transitions */
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  transition: 0.2s linear top;
  /* maybe other vendor-prefixed transitions */
}

$bg-color: purple;
